
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-light default-color lighten-4">
<div class="container">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">O-Examination</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse container" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
          </li>
          

          <!-- Dropdown -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Tutorials</a>
                  <a class="dropdown-item" href="#">Questions</a>
                  <a class="dropdown-item" href="#">Exams</a>
              </div>
          </li>

          <li class="nav-item">
                <a class="nav-link" href="#">ContactUs</a>
            </li>
      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form mt-0">
          
        </div>
      </form>
  </div>
  <!-- Collapsible content -->
</div>

</nav>
<!--/.Navbar-->