<div class=" tutbox">           
    <div class="row">
        <!-- First column -->
        <div class="col-3">
          <!-- Navigation -->
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item  info-color center ">QUESTION PAPERS</a>
            <a class="list-group-item list-group-item-action active hoverable" id="list-home-list" data-toggle="list" href="#list-apti" role="tab" aria-controls="home">Aptitute</a>
            <a class="list-group-item list-group-item-action hoverable" id="list-profile-list" data-toggle="list" href="#list-resoning" role="tab" aria-controls="profile">Resoning</a>
            <a class="list-group-item list-group-item-action hoverable" id="list-messages-list" data-toggle="list" href="#list-english" role="tab" aria-controls="messages">English</a>
            <a class="list-group-item list-group-item-action hoverable" id="list-settings-list" data-toggle="list" href="#list-ca" role="tab" aria-controls="settings">current affairs</a>
            <a class="list-group-item list-group-item-action hoverable" id="list-settings-list" data-toggle="list" href="#list-py" role="tab" aria-controls="settings">Previous year</a>
          </div>
          <!-- Navigation -->
        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="col-9">
          <!-- Content -->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active " id="list-apti" role="tabpanel" aria-labelledby="list-home-list">
                <div class="card text-center box scroll" role="scroll">
                    <div class="card-header success-color white-text fixed">
                        Aptitute
                    </div>
                    <div class="card-body topic-box">
                        <!-- Card -->
                   <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                  <!-- Content -->
                     <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                       <h5 class="pink-text"><i class="fa fa-graduation-cap"></i> Aptitute</h5>
                      <p>test paper</p>
                      <a class="btn btn-pink btn-sm">Download</a>
                    </div>
                  </div>
               </div>
           </div>
                </div>
            </div>
            <!--resoning-->
            <div class="tab-pane fade" id="list-resoning" role="tabpanel" aria-labelledby="list-profile-list">
              
              <div class="card text-center box scroll" role="scroll">
                  <div class="card-header success-color white-text fixed">
                      Resoning
                  </div>
                  <div class="card-body topic-box">
                      <!-- Card -->
                 <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                <!-- Content -->
                   <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
                     <h5 class="pink-text"><i class="fa fa-graduation-cap"></i> Resoning</h5>
                    <p>test paper</p>
                    <a class="btn btn-pink btn-sm">Download</a>
                  </div>
                </div>
             </div>
         </div>
              </div>
            </div> <!--resoning-->
               <!--English-->
            <div class="tab-pane fade" id="list-english" role="tabpanel" aria-labelledby="list-messages-list">
              <div class="card text-center box scroll" role="scroll">
                  <div class="card-header success-color white-text fixed">
                      English
                  </div>
                  <div class="card-body topic-box">
                      <!-- Card -->
                 <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                <!-- Content -->
                   <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
                     <h5 class="pink-text"><i class="fa fa-graduation-cap"></i> English</h5>
                    <p>test paper</p>
                    <a class="btn btn-pink btn-sm">Download</a>
                  </div>
                </div>
             </div>
         </div>
       </div>
      </div> <!--English-->
            <!--current affairs-->
            <div class="tab-pane fade" id="list-ca" role="tabpanel" aria-labelledby="list-settings-list"> 
              <div class="card text-center box scroll" role="scroll">
                  <div class="card-header success-color white-text fixed">
                      current affairs
                  </div>

                  <div class="card-body topic-box">
                          <!-- Card -->
                     <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                    <!-- Content -->
                       <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                      <div>
                         <h5 class="pink-text"><i class="fa fa-graduation-cap"></i> current affairs</h5>
                        <p>test paper</p>
                        <a class="btn btn-pink btn-sm">Download</a>
                      </div>
                    </div>
                 </div>
             </div>
            </div>
      </div><!--current affairs-->

               <!--Previous Year-->
               <div class="tab-pane fade" id="list-py" role="tabpanel" aria-labelledby="list-messages-list">
                  <div class="card text-center box scroll" role="scroll">
                      <div class="card-header success-color white-text fixed">
                          Previous Year Question Paper
                      </div>
                      <div class="card-body topic-box">
                          <!-- Card -->
                     <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                    <!-- Content -->
                       <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                      <div>
                         <h5 class="pink-text"><i class="fa fa-graduation-cap"></i> SSC(2015)</h5>
                        <p>test paper</p>
                        <a class="btn btn-pink btn-sm">Download</a>
                      </div>
                    </div>
                 </div>
             </div>
           </div>
          </div> <!-- Previous Year-->

     </div><!-- Content -->
  </div> <!-- Second column -->     
  </div>
</div>