
<app-navbar></app-navbar>
<!--Mask-->
<div class="view2 hm-black-light">
  <div class="full-bg-img flex-center container">
      <ul class="home">
          <li>
              <h1 class="display-4 mb-5 mt-5 pt-5 wow fadeInUp title">
                  <strong>Welcome to Online Examination portal</strong>
              </h1>
              <p>Learn and practice more for competative Exams...</p>
          </li>
          <li>
            <a href="" class="btn btn-primary btn-rounded mb-4 waves-light" data-toggle="modal" data-target="#modalLoginForm" mdbRippleRadius>Login</a>
            <a href="" class="btn btn-success btn-rounded mb-4 waves-light" data-toggle="modal" data-target="#modalRegisterForm" mdbRippleRadius>Register </a>
          </li>                  
          </ul>   
  </div>
</div>

<!-- sections -->
<section class="features-section">
  <h1 class="stitle">Features</h1>
    <div class="features">                         
    <!--Card--> <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="sample">
          <a><div class="mask rgba-white-slight"></div></a>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Learning</h4>
          <hr>
          <!--Text-->
          <p class="font-small grey-dark-text mb-0">We are providing tutorials to get start and revise the topics and made yourself perfect to attain the exam.</p><a href="#">Read more....</a>
        </div>
        <!--/.Card content-->
      </div> <!--/.Card-->

      <!--Card--> <div class="card">
        <!--Card image-->
        <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="sample">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#">Read more....</a>
          </div>
          <!--/.Card content-->
        </div> <!--/.Card-->

        <!--Card--> <div class="card">
        <!--Card image-->
        <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="sample">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#">Read more....</a>
          </div>
          <!--/.Card content-->
        </div> <!--/.Card-->

        <!--Card--> <div class="card">
        <!--Card image-->
        <div class="view overlay">
            <img src="https://thumbs.dreamstime.com/b/growth-graph-chart-29230391.jpg" class="img-fluid" alt="sample">
            <a><div class="mask rgba-white-slight"></div></a>
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Performance</h4>
            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">We track the students tests and results on that basis we calculate performance and statistics of student to provide better guide.</p><a href="#">Read more....</a>
          </div>
          <!--/.Card content-->
        </div> <!--/.Card-->
      </div>                         
</section>

<section class="features-section">
    <h1 class="stitle">Services</h1>
      <div class="services">                         
     
          <!--Card--> <div class="services-card">
          <!--Card image-->
          <div class="view overlay">
              <img src="../../assets/images/lpage.jpg" class="simg z-depth-1" alt="sample">
              <a><div class="mask rgba-white-slight"></div></a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <hr>
              <!--Text-->
              <p class="font-small grey-dark-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#">Read more....</a>
            </div>
            <!--/.Card content-->
          </div> <!--/.Card-->

           <!--Card--> <div class="services-card">
              <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <hr>
                <!--Text-->
                <p class="font-small grey-dark-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#">Read more....</a>
              </div>
              <!--/.Card content-->
          <!--Card image-->
          <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="simg z-depth-1" alt="sample">
              <a><div class="mask rgba-white-slight"></div></a>
            </div>
            <!--/.Card image-->
          </div> <!--/.Card-->

           <!--Card--> <div class="services-card">
          <!--Card image-->
          <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="simg z-depth-1" alt="sample">
              <a><div class="mask rgba-white-slight"></div></a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <hr>
              <!--Text-->
              <p class="font-small grey-dark-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#">Read more....</a>
            </div>
            <!--/.Card content-->
          </div> <!--/.Card-->


        </div>                         
  </section>

  <section class="features-section">
      <h1 class="stitle">Developers</h1>
        <div class="features">                         
            <div class="card testimonial-card">
                <!--Avatar-->
                <div class="avatar mx-auto white"><img src="../../assets/images/pic.png" class="rounded-circle" width="100" height="100">
                </div>
        
                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title mx-auto">Anna Doe</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>
            </div>
            <!--/.Card-->
    
          <div class="card testimonial-card">
              <!--Avatar-->
              <div class="avatar mx-auto white"><img src="../../assets/images/pic.png" class="rounded-circle" width="100" height="100">
              </div>
      
              <div class="card-body">
                  <!--Name-->
                  <h4 class="card-title mx-auto">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
              </div>
          </div>
          <!--/.Card-->
    
            <div class="card testimonial-card">
                <!--Avatar-->
                <div class="avatar mx-auto white"><img src="../../assets/images/pic.png" class="rounded-circle" width="100" height="100">
                </div>
        
                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title mx-auto">Anna Doe</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>
            </div>
            <!--/.Card-->
    
           <!--Card-->
    <div class="card testimonial-card">
        <!--Avatar-->
        <div class="avatar mx-auto white"><img src="../../assets/images/pic.png"class="rounded-circle" width="100" height="100">
        </div>

        <div class="card-body">
            <!--Name-->
            <h4 class="card-title mx-auto">Anna Doe</h4>
            <hr>
            <!--Quotation-->
            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
        </div>
    </div>
    <!--/.Card-->
  </div>                         
</section>

<!--login model-->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <form>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="defaultForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>
                <input type="submit" value="login" class="btn btn-outline-info waves-effect ml-auto">
                        Forgot<a href="#" text-md-right> password ?</a> 
            </div>
            <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                       <p>Not a member? <a href="#" class="blue-text" data-toggle="modal" data-target="#modalRegisterForm" data-dismiss="modal">Sign Up</a></p>
                     </div>
            </div>
        </form>   
        </div>
    </div>
</div>
<!--login model-->

<!--register model-->            
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center default ">
                <h4 class="modal-title w-100 font-weight-bold">Registration Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="orangeForm-name" class="form-control validate" >
                    <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                </div>
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate" ng-bind="name" name="email">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="orangeForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                    <input type="password" id="orangeForm-repass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-repass">Re-password</label>
                </div>
                <input type="submit" value="register" class="btn btn-outline-info waves-effect ml-auto">
                      <div class="modal-footer">
                            <p>Already have an account? <a  class="blue-text" data-toggle="modal" data-target="#modalLoginForm" data-dismiss="modal">Log In</a></p>                      
                     </div>   
            </div>
            </form>
        </div>
    </div>
</div>
<!--register model-->